.main-header{
	margin-top: 60px;
}
a{
	color: #03658;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comment-head{
	background: #FCFCFC;
}

.head{
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.cont-reseña{
	background: #FFF;
	padding: 12px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.btnLike{
	margin-top: -50px;
}

.normal{
	color: #fff;
	border-radius: 4px;
	background-color: rgba(46, 54, 165, 0.9);
	box-shadow: 1px 1px 5px #000;
}

.normal:hover{
	cursor: pointer;
}

.comment{
	font-size: 12px;
}