body{
 	background:	#F0FFFF;
 	font-family: "Arial";
 	font-size: 16px;
 	color: #555;
}

.white{
	color:#FFF;
}

h1,h2,h3,h4,h5{
 	font-weight: 300;
 	color: #5e0e0e;
}

h1{
 	font-size: 36px;
 	font-weight: bold;
}

p{
 	line-height: 30px;
 	margin-bottom: 25px;
}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid gray;
	margin: 1em 0;
	padding: 0;
}

.navbar-default{
	background: rgba(0,0,0,0.8);
	border-color: transparent; 
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus{
	color: white;
}

.navbar-default .navbar-nav li a:hover{
	color: #888;
}

box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comment-head{
	background: #FCFCFC;
}

.head{
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.cont-reseña{
	background: #FFF;
	padding: 12px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.btnLike{
	margin-top: -50px;
}

.normal{
	color: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #000;
}

.blue{
	background-color: rgba(46, 54, 165, 0.9);
}

.red{
	background-color: rgba(219, 4, 33, 0.9);
}

.grey-color{
	color: rgba(81, 81, 81, 0.9);
}

.red-color{
	color: rgba(226, 24, 89, 0.9);
}

#fav:hover{
	cursor: pointer;
}

.normal:hover{
	cursor: pointer;
}

.comment{
	font-size: 12px;
}

/* image logo */
.img-logo{
	max-width: 30px;
	margin: 5px;
	margin-right: 10px;
}

.nav > li > a > img.img-logo{
	max-width: none;
	max-height: 30px;
	padding: 0px;
	border-radius: 50%;
}

.nav > li > a > span.img-logo{
	max-width: none;
	max-height: 30px;
	padding: 0px;
}

.nav > li > a.img-logo{
	margin-bottom: 0px;
	margin-right: 5px;
	padding: 0px;
	max-width: none;
	height: 44px;
}

.img-medium-logo{
	max-width: none;
	height: 200px;
	position: relative;
	backface-visibility: hidden;
}

.icon-small{
	max-height: 25px;
	width: auto;
}

/*
.container .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -350%);
	-ms-transform: translate(-50%, -350%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nop{
	display: none;
}

/*image logo*/

.stronger{
	padding: 12px;
	padding-left: 0px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	color: #283035;
}

.title-login{
	color: gray;
	padding-top: 10px;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.modal-header{
	border-bottom:0px;
	padding-bottom:0px;
}

.btn-aceptar{
	background-color: #5e0e0e;
	color: white;
}

.btn-aceptar:focus{
	color: white;
}

.btn-aceptar:hover{
	color: gray;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.row.content {
	height: 450px;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background: #050505e6;
	border-color: transparent; 
    color: white;
}

@media screen and (max-width: 767px) {
	.sidenav {
	    height: auto;
	    padding: 15px;
	}
	.row.content {
		height:auto;
	} 
}

.more-reviews{
	font-size: 10px;
}

.no-margin{
	margin: 0px;
}

.social-icons{
	font-size:24px;
}

/* bootstrap right offset */
	.col-xs-offset-right-12 {
	  margin-right: 100%;
	}
	.col-xs-offset-right-11 {
	  margin-right: 91.66666667%;
	}
	.col-xs-offset-right-10 {
	  margin-right: 83.33333333%;
	}
	.col-xs-offset-right-9 {
	  margin-right: 75%;
	}
	.col-xs-offset-right-8 {
	  margin-right: 66.66666667%;
	}
	.col-xs-offset-right-7 {
	  margin-right: 58.33333333%;
	}
	.col-xs-offset-right-6 {
	  margin-right: 50%;
	}
	.col-xs-offset-right-5 {
	  margin-right: 41.66666667%;
	}
	.col-xs-offset-right-4 {
	  margin-right: 33.33333333%;
	}
	.col-xs-offset-right-3 {
	  margin-right: 25%;
	}
	.col-xs-offset-right-2 {
	  margin-right: 16.66666667%;
	}
	.col-xs-offset-right-1 {
	  margin-right: 8.33333333%;
	}
	.col-xs-offset-right-0 {
	  margin-right: 0;
	}
	@media (min-width: 768px) {
	  .col-sm-offset-right-12 {
	    margin-right: 100%;
	  }
	  .col-sm-offset-right-11 {
	    margin-right: 91.66666667%;
	  }
	  .col-sm-offset-right-10 {
	    margin-right: 83.33333333%;
	  }
	  .col-sm-offset-right-9 {
	    margin-right: 75%;
	  }
	  .col-sm-offset-right-8 {
	    margin-right: 66.66666667%;
	  }
	  .col-sm-offset-right-7 {
	    margin-right: 58.33333333%;
	  }
	  .col-sm-offset-right-6 {
	    margin-right: 50%;
	  }
	  .col-sm-offset-right-5 {
	    margin-right: 41.66666667%;
	  }
	  .col-sm-offset-right-4 {
	    margin-right: 33.33333333%;
	  }
	  .col-sm-offset-right-3 {
	    margin-right: 25%;
	  }
	  .col-sm-offset-right-2 {
	    margin-right: 16.66666667%;
	  }
	  .col-sm-offset-right-1 {
	    margin-right: 8.33333333%;
	  }
	  .col-sm-offset-right-0 {
	    margin-right: 0;
	  }
	}
	@media (min-width: 992px) {
	  .col-md-offset-right-12 {
	    margin-right: 100%;
	  }
	  .col-md-offset-right-11 {
	    margin-right: 91.66666667%;
	  }
	  .col-md-offset-right-10 {
	    margin-right: 83.33333333%;
	  }
	  .col-md-offset-right-9 {
	    margin-right: 75%;
	  }
	  .col-md-offset-right-8 {
	    margin-right: 66.66666667%;
	  }
	  .col-md-offset-right-7 {
	    margin-right: 58.33333333%;
	  }
	  .col-md-offset-right-6 {
	    margin-right: 50%;
	  }
	  .col-md-offset-right-5 {
	    margin-right: 41.66666667%;
	  }
	  .col-md-offset-right-4 {
	    margin-right: 33.33333333%;
	  }
	  .col-md-offset-right-3 {
	    margin-right: 25%;
	  }
	  .col-md-offset-right-2 {
	    margin-right: 16.66666667%;
	  }
	  .col-md-offset-right-1 {
	    margin-right: 8.33333333%;
	  }
	  .col-md-offset-right-0 {
	    margin-right: 0;
	  }
	}
	@media (min-width: 1200px) {
	  .col-lg-offset-right-12 {
	    margin-right: 100%;
	  }
	  .col-lg-offset-right-11 {
	    margin-right: 91.66666667%;
	  }
	  .col-lg-offset-right-10 {
	    margin-right: 83.33333333%;
	  }
	  .col-lg-offset-right-9 {
	    margin-right: 75%;
	  }
	  .col-lg-offset-right-8 {
	    margin-right: 66.66666667%;
	  }
	  .col-lg-offset-right-7 {
	    margin-right: 58.33333333%;
	  }
	  .col-lg-offset-right-6 {
	    margin-right: 50%;
	  }
	  .col-lg-offset-right-5 {
	    margin-right: 41.66666667%;
	  }
	  .col-lg-offset-right-4 {
	    margin-right: 33.33333333%;
	  }
	  .col-lg-offset-right-3 {
	    margin-right: 25%;
	  }
	  .col-lg-offset-right-2 {
	    margin-right: 16.66666667%;
	  }
	  .col-lg-offset-right-1 {
	    margin-right: 8.33333333%;
	  }
	  .col-lg-offset-right-0 {
	    margin-right: 0;
	  }
	}
/* bootstrap right offset */